<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royal Fresh Bakery</title>
    <link rel="icon" href="/images/Classic Vintage Cake and Bakery Store Logo.jpeg" type="image/gif" sizes="16*16">
    <!-- link bs5 css file  -->
    <link rel="stylesheet" href="/bootstrap-5.2.3/css/bootstrap.min.css">
    <!-- link bs5 js file -->
    <script src="/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>
    <!-- Link fa css file -->
    <link rel="stylesheet" href="/fontawesome-free-6.6.0-web/fontawesome-free-6.6.0-web/css/all.css">
    <!-- link external css file -->
    <link rel="stylesheet" href="/css/products.css">



</head>

<body class="justify-content-center">

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <div class="card" style="background-color: rgba(240, 248, 255, 0.012);">
                    <div class="card-body">
                        <div class="row">
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Fish Bun</h5>
                                    <img src="/images/fish-ban.jpg" style="width:200px; height:auto;">

                                </div>
                            </div>
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Tea Bun</h5>
                                    <img src="/images/teabun.jpeg" style="width:200px; height:auto;">

                                </div>
                            </div>
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Vian Roll</h5>
                                    <img src="/images/viyana-roll.jpg" style="width:200px; height:auto;">

                                </div>
                            </div>

                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Fish Burger</h5>
                                    <img src="/images/fishburgur2.jpg" style="width:200px; height:auto;">

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Chicken Burger</h5>
                                    <img src="/images/chickenburger2.jpeg" style="width:200px; height:auto;">

                                </div>
                            </div>
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Egg Bun</h5>
                                    <img src="/images/eggbun.jpeg" style="width:200px; height:auto;">

                                </div>
                            </div>
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Omlate Bun</h5>
                                    <img src="/images/omlatebun.jpeg" style="width:200px; height:auto;">

                                </div>
                            </div>

                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Seeni Sumbol Bun</h5>
                                    <img src="/images/seenisumbol.jpeg" style="width:200px; height:auto;">

                                </div>
                            </div>

                        </div>


                    </div>
                </div>

            </div>
            <div class="carousel-item" data-bs-interval="500">
                <div class="card " style="background-color: rgba(240, 248, 255, 0.012);">
                    <div class="card-body">
                        <div class="row">
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Fish Pastry</h5>
                                    <img src="/images/fishpastry.jpeg" style="width:200px; height:auto;">

                                </div>
                            </div>
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Chicken Pastry</h5>
                                    <img src="/images/chicken-puff-patties.jpg" style="width:200px; height:auto;">

                                </div>
                            </div>
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Fish Sandwitches</h5>
                                    <img src="/images/fish sandwitches.jpeg" style="width:200px; height:auto;">

                                </div>
                            </div>
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Chicken Sandwitches</h5>
                                    <img src="/images/chicken sandwiches.jpeg" style="width:200px; height:auto;">

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Sousage Bun</h5>
                                    <img src="/images/sousage bun.jpeg" style="width:200px; height:auto;">

                                </div>
                            </div>
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Fish Rolls</h5>
                                    <img src="/images/fishrolls.jpeg" style="width:200px; height:auto;">

                                </div>
                            </div>
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Egg Rolls</h5>
                                    <img src="/images/eggroll2.jpeg" style="width:200px; height:auto;">

                                </div>
                            </div>

                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Hot Dog</h5>
                                    <img src="/images/Hot-Dogs.jpg" style="width:200px; height:auto;">

                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-color: rgba(240, 248, 255, 0.012);">
                <div class="card" style="background-color: rgba(240, 248, 255, 0.012);">
                    <div class="card-body">
                        <div class="row">
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Fish Bun</h5>
                                    <img src="/images/fish-ban.jpg" style="width:200px; height:auto;">

                                </div>
                            </div>
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Fish Bun</h5>
                                    <img src="/images/fish-ban.jpg" style="width:200px; height:auto;">

                                </div>
                            </div>
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Fish Bun</h5>
                                    <img src="/images/fish-ban.jpg" style="width:200px; height:auto;">

                                </div>
                            </div>
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Fish Bun</h5>
                                    <img src="/images/fish-ban.jpg" style="width:200px; height:auto;">

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Fish Bun</h5>
                                    <img src="/images/fish-ban.jpg" style="width:200px; height:auto;">

                                </div>
                            </div>
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Fish Bun</h5>
                                    <img src="/images/fish-ban.jpg" style="width:200px; height:auto;">

                                </div>
                            </div>
                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Fish Bun</h5>
                                    <img src="/images/fish-ban.jpg" style="width:200px; height:auto;">

                                </div>
                            </div>

                            <div class="card card-2 ms-3 mt-3 me-3 mb-3" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Fish Bun</h5>
                                    <img src="/images/fish-ban.jpg" style="width:200px; height:auto;">

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</body>

</html>